@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
	cursor: default;
	font-family: sans-serif !important;
}

.quill {
	@apply rounded-lg ring-sky-400 focus-within:ring-1;
}

.ql-editor {
	@apply min-h-[12rem] cursor-text text-sm;
}

.ql-toolbar svg,
.ql-toolbar path,
.ql-toolbar polygon,
.ql-toolbar line {
	@apply dark:fill-gray-300 dark:stroke-gray-300 !important;
}

.ql-bold path,
.ql-underline path {
	@apply dark:fill-gray-800 !important;
}

.ql-toolbar {
	@apply rounded-t-lg dark:border-gray-600;
}

.ql-container {
	@apply rounded-b-lg bg-white dark:border-gray-600 dark:bg-gray-700 dark:text-gray-100;
}

.ql-picker-options {
	@apply dark:border-gray-600 dark:bg-gray-800 dark:text-gray-200 !important;
}

.ql-picker-label {
	@apply focus:border-gray-600 dark:bg-gray-800 dark:text-gray-200 !important;
}

.conversation {
	height: 100% !important;
}

.carousel .control-prev.control-arrow:before {
	border-right: 8px solid #a5a5a5;
}

.carousel .control-next.control-arrow:before {
	border-left: 8px solid #a5a5a5;
}

.control-arrow:hover {
	background: transparent !important;
}

.fade-in {
	opacity: 0;
	transform: translateY(-20px);
	animation: fadeIn 1.5s ease-out forwards;
}

.fade-in-2 {
	opacity: 0;
	transform: translateY(-20px);
	animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
